<meta charset="utf-8" />
<meta name="fragment" content="!"> <!-- ajax crawlable -->
<meta name="keywords" content="food, suprise, meal, eat, hungry, healhty" />
<meta name="description" content="Suprizr is the next big thing in eat" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-itunes-app" content="app-id=672276960" />
<meta name="google-site-verification" content="HlqdEQIS5p3OfCx9NEEAH-_JQov2CvDSRengSrIOZhA" />

<!-- LINKS AND STTLESHEETS -->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="/static/css/admin.css?v={{version}}"" rel="stylesheet" type="text/css" media="all">