<script>
    window.spInit = function() {
        var prod = window.location.host.indexOf("suprizr.com") >= 0;
        SP.init({
            "production" : prod,
        });
    };
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script src="/static/js/suprizscript.js?v={{version}}"></script>
<script src="/static/js/suprizapp.js?v={{version}}"></script>