
<div id="page-restaurants" class="history -admin-restaurants -admin-restaurants-0 page">
	<div class="root">
		
		<div class="sidebar">
			<div class="search-toolbar">
				<div class="search-container">
					<input id="search-restaurant" type="text" placeholder="search for restaurant">
				</div>
				<div class="btn-container">
					<button id="new-restaurant-btn" class="btn btn-primary">new</button>
				</div>
			</div>
			<div class="search-content"></div>
		</div>

		<div class="content">
			<div id="single-restaurant" class="history -admin-restaurants-0">
			
				<div class="top-bar clearfix">
					<div class="info">
						<div class="name"></div>
						<div class="address"></div>
					</div>
					<div class="actions">
						<!-- <button class="btn btn-primary">edit</button> -->
						<button id="delete-restaurant" class="btn btn-danger">delete</button>
					</div>
				</div>					

			</div>
		</div>

		{% include "admin/pages/create_restaurant.html" %}

	</div>
</div>

<script>
$(function(){

	SP(function(user){
		if (user && user.facebook) {
			$("#facebook-connect").hide();
		} else {
			$("#facebook-connect").touchClick(function(){
				SP.auth.login.facebook(function(err, user){
					if (!err) {
						if (!user.admin) alert("Hey "+user.first_name+"! You're offically a Suprizr user. Andrew will mark you as an admin user as soon as possible!");
						SP.redirect("/admin/restaurants");
					}
				});
			});
		}
	});

	var scope = $("#page-restaurants");

	var restaurants = [];

	SP.history("/admin/restaurants/*", function(id){
		// update sidebar
		selected = id;
		updateSlected();

		var scope = $("#single-restaurant");
		scope.hide();
		SP.restaurant.fetch(id, function(err, doc){
			scope.show();
			if (!err) {
				$(".name",scope).text(doc.name);
				$(".address",scope).text(doc.address.formatted_address);
			}
		});
	});

	scope.touchClick(function(){
		var id = $(this).data("id");
		SP.history.loadPath("/admin/restaurants/"+id);
	},".restaurant");

	$("#delete-restaurant",scope).touchClick(function(){
		var ok = confirm("Are you sure you want to delete this restaurant?");
		if (selected && ok) {
			SP.restaurant.delete(selected, function(err, doc){
				if (!err) {
					selected = false;
					SP.history.loadPath("/admin/restaurants");
					refresh();
				}
			});
		}
	});

	$(".search-container input",scope).keyup(function(){
		var text = $(this).val().trim().toLowerCase();
		var filtered = SP.grep(restaurants, function(doc){
			return doc.name.toLowerCase().indexOf(text) >= 0;
		});
		renderRestaurants(filtered);
	});

	$("#new-restaurant-btn",scope).touchClick(function(){
		$("#new-restaurant").fadeIn(300);
		$("#google-search",scope).focus();
	});

	function refresh(animate) {
		SP.restaurant.fetchAll(function(err, docs){
			if (!err) {
				restaurants = docs.reverse();
				renderRestaurants(docs);
				$(".search-content",scope).fadeIn(300);
				if (animate) {
					var rest = $(".restaurant").first();
					rest.hide();
					rest.slideDown(300);
				}
			}
		});
	}

	function renderRestaurants(docs) {
		var html = SP.ui.template("restaurant-list", { restaurants: docs });
		$(".search-content",scope).html(html);
		updateSlected();
	}

	var selected = false;
	function updateSlected() {
		if (selected) {
			$(".restaurant",scope).removeClass("selected");
			$(".restaurant[data-id="+selected+"]",scope).addClass("selected");
		}
	}

	SP.event.subscribe("SP.restaurant.create", function(){
		refresh(true);
	});

	$(".search-content",scope).hide();
	$("#new-restaurant",scope).hide();
	refresh();
});
</script>

















