
<div id="page-restaurants" class="history -admin-restaurants -admin-restaurants-0 page">
	<div class="root">
		
		<div class="sidebar">
			<div class="search-toolbar">
				<div class="search-container">
					<input id="search-restaurant" type="text" placeholder="search for restaurant">
				</div>
				<div class="btn-container">
					<button id="new-restaurant-btn" class="btn btn-primary">new</button>
				</div>
			</div>
			<div class="search-content"></div>
		</div>

		<div class="content">
			
		</div>

		<div id="new-restaurant" style="display: none;">
			<div class="new-toolbar">
				<button id="close-button" class="btn"><i class="icon-remove"></i></button>
				<div class="title">Create a Restaurant</div>
				<button id="create-button" class="btn btn-success"><i class="icon-ok icon-white"></i></button>
			</div>
			<div class="data-form">
				<form id="create-restaurant">
					<fieldset>
						<input id="name" type="text" placeholder="name" />
						<textarea rows="5" id="description" placeholder="description..."></textarea>

						<sp></sp>
						
						<div class="row-fluid">
							<div class="span6">
								<label>delivery fee</label>
								<input id="delivery-fee" type="text" placeholder="$6.50" />
							</div>
							<div class="span6">
								<label>delivery hours</label>
								<input id="hours" type="text" placeholder="8.00 - 18.50" />
							</div>
						</div>

						<div class="row-fluid">
							<div class="span4">
								<label>delivery radius (miles)</label>
								<input id="radius" type="text" placeholder="2.5" />
							</div>
							<div class="span8">
								<label>delivery zipcodes</label>
								<input id="zipcodes" type="text" placeholder="02120, 02110, 12345" />
							</div>
						</div>

						<sp></sp>

						<!-- <input id="google-search" type="text" placeholder="search by name" /> -->

						<div id="google-results" class="hidden"></div>
					</fieldset>
				</form>
			</div>
		</div>

	</div>
</div>

<script>
$(function(){

	SP(function(user){
		if (user && user.facebook) {
			$("#facebook-connect").hide();
		} else {
			$("#facebook-connect").touchClick(function(){
				SP.auth.login.facebook(function(err, user){
					if (!err) {
						if (!user.admin) alert("Hey "+user.first_name+"! You're offically a Suprizr user. Andrew will mark you as an admin user as soon as possible!");
						SP.redirect("/admin/restaurants");
					}
				});
			});
		}
	});

	var scope = $("#page-restaurants");

	var restaurants = [];

	SP.history("/admin/restaurants/*", function(id){
		// update sidebar
		selected = id;
		updateSlected();

		SP.restaurant.fetch(id, function(err, doc){
			if (!err) {
				// do something
			}
		});
	});

	scope.touchClick(function(){
		var id = $(this).data("id");
		SP.history.loadPath("/admin/restaurants/"+id);
	},".restaurant");

	$(".search-container input",scope).keyup(function(){
		var text = $(this).val().trim().toLowerCase();
		var filtered = SP.grep(restaurants, function(doc){
			return doc.name.toLowerCase().indexOf(text) >= 0;
		});
		renderRestaurants(filtered);
	});

	$("#new-restaurant-btn",scope).touchClick(function(){
		$("#new-restaurant").fadeIn(300);
	});

	$("#close-button",scope).touchClick(function(){
		$("#new-restaurant").fadeOut(150);
	});

	$("#create-button",scope).touchClick(function(){
		var name = $("input#name",scope).val().trim();
		var desc = $("textarea#description",scope).val().trim();
		var fee = $("input#delivery-fee",scope).val().trim().replace("$","");
		var hours = $("input#hours").val().trim().replace(/ /g,"").split("-");
		var start = hours[0]; var end = hours[1];
		var radius = $("input#radius").val().trim();
		var zips = $("input#zipcodes").val().trim().replace(/ /g,"").split(",");
		var data = {
			"name" : name,
			"description" : desc,
			"delivery_fee" : fee,
			"radius" : radius,
			"delivery_zipcodes" : zips,
			"delivery_hours" : { "start":start, "end":end }
		}
		SP.restaurant.create(data, function(err, doc){
			if (!err) {
				SP.history.loadPath("/admin/restaurants/"+doc._id);
				$("input,textarea",scope).val("");
				$("#new-restaurant").fadeOut(150);
			}
		});
	});

	function refresh(animate) {
		SP.restaurant.fetchAll(function(err, docs){
			if (!err) {
				restaurants = docs.reverse();
				renderRestaurants(docs);
				$(".search-content",scope).fadeIn(300);
				if (animate) {
					var rest = $(".restaurant").first();
					rest.hide();
					rest.slideDown(300);
				}
			}
		});
	}

	function placeSearch() {
		var query = encodeURIComponent($("#google-search",scope).val().trim());
		service = new google.maps.places.PlacesService($("#google-results")[0]);
		service.textSearch({ "query": query }, function(data){
			trace(data);
		});
		
	}

	$("#google-search",scope).keyup(placeSearch);

	function renderRestaurants(docs) {
		var html = SP.ui.template("restaurant-list", { restaurants: docs });
		$(".search-content",scope).html(html);
		updateSlected();
	}

	var selected = false;
	function updateSlected() {
		if (selected) {
			$(".restaurant",scope).removeClass("selected");
			$(".restaurant[data-id="+selected+"]",scope).addClass("selected");
		}
	}

	SP.event.subscribe("SP.restaurant.create", function(){
		refresh(true);
	});

	$(".search-content",scope).hide();
	$("#new-restaurant",scope).hide();
	refresh();
});
</script>

















