
<!doctype html>
<html lang="en">
    <head>
        <title>Suprizr - Gourmet Roulette for the Foodie Who Can't Decide</title>

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="/static/css/desktop.css?v=v34" rel="stylesheet" type="text/css" media="all">
    </head>
    <body>
        <div class="container">
            <div class="row logo-banner">
                <div class="span12">
                    Gourmet Roulette for the Foodie Who Can't Decide
                </div>
            </div>
            <div class="row">
                <div class="wishpond contest">
                   <script type="text/javascript">
                  var wpsc27181 = wpsc27181 || {};
                  wpsc27181.w = '1200'; // Width in pixels or % of containing element.
                </script>
                <script src="//www.wishpond.com/sc/27181.js" type="text/javascript"></script>
                </div>
            </div>
            <div class="row footer">
                <div class="span6 footer-signature">
                    <div class="url"><a href="//beta.suprizr.com">beta.suprizr.com</a></div>
                    <div class="currently-serving">Currently serving San Francisco</div>
                </div>
                <div class="span6 footer-links">
                    <ul>
                        <li><a href="mailto:feedback@suprizr.com">Contact</a></li>
                        <li><a href="http://instagram.com/suprizr">Instagram</a></li>
                        <li><a href="#" id="back-to-top">Back to Top</a></li>
                    </ul> 
                </div>
            </div>
        </div>
    </body>
</html>
